.footer{
    background-color: rgb(0, 37, 23);
   .perfil{
    display: flex;
    align-items: center;
   }

    img {
        width: 10rem;
        border: solid 2px #fff;
        border-radius: 5rem;
        margin: 1rem;
    }

    p{
        color: rgb(190, 190, 190);
        text-align: justify;
        margin: 0 1rem;
    }
}