<div class="footer">
    <div class="perfil">
        <img src="https://github.com/AlexandreNoguez.png"
            alt="Foto de frente do desenvolvedor deste app escorado em seu piano digital">
        <p class="perfil-paragrafo"> Meu nome é Alexandre Noguêz e gostaria de agradecer muito ao canal freeCodeCamp.org
            por ter disponibilizado esse tutorial onde desenvolvi
            uma aplicação que comunica com uma API utilizando o
            framework
            Angular.
            Aprendi muito no desenvolvimento desse projeto mas sei que ainda tem muito por vir!</p>
    </div>
    <div class="icons">
        <span class="ion ion-md-attach">
            <ion-icon name="logo-facebook"></ion-icon>

            <ion-icon name="logo-github"></ion-icon>

        </span>
    </div>
</div>